h1{
  text-align: center;
  text-transform: uppercase;
  margin : 30px;
  color: #9164CC;
  font-size: 35px;
  font-family: 'futura';
  letter-spacing: 0.24em;
}

img {
  max-width: 100%;
}

a:hover{
  text-decoration: none;
}