






































// <!-- =========================== SECTION ACCOMPAGNEMENT =========================== -->
.btn-secondary{
  color : white;
}

.btn-secondary:hover{
  background-color: rgb(252, 179, 78);
  border: none;
  color: white;
}