.btn-services {
  background: $secondary;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin: 25px;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $red;
    background: none;
    border: 1px solid $primary
  }
}






































// <!-- =========================== SECTION ACCOMPAGNEMENT =========================== -->
.btn-secondary{
  color : white;
}

.btn-secondary:hover{
  background-color: rgb(252, 179, 78);
  border: none;
  color: white;
}