






































// <!-- =========================== SECTION ACCOMPAGNEMENT =========================== -->

.card{
  border-radius :10px;
}

.card h2 {
  font-size: 18px;
}

.card-body{
  background-color: rgba(0, 0, 0, 0.5);
}

.card-title{
  color: white;
}
